html
{
height: auto;
width: auto;
}

html,body
{
padding: 0;
margin: 0;
}

INPUT:focus {
	outline: none;
}

P
{
margin-top: 2px;
}

.head-box
{
width: auto;
min-width: 750px;
height: auto;
background-color: #5a5c6b;
padding: 8px;
margin-top: 0;
opacity: 0.7;
}

.login_box
{
    width: 70%;
    min-width: 750px;
    height: auto;
    margin: 9.25%;
    background-color: #FFF;
    padding: 10px;
    border: 1px solid#5a5c6b;
}

.sign_up_box
{
    width: 35%;
    min-width: 500spx;
    height: auto;
	margin-top: 0;
	margin-left: 12%;
	margin-right: 12%;
	margin-bottom: 5%;  
    background-color: #FFF;
    padding: 10px;
    border: 1px solid#5a5c6b;
}

.font1
{
font-family: "Courier New", Courier, monospace;
font-size: 25px;
font-weight: bolder; 
color: #5a5c6b;
text-decoration: underline;
}

.font2
{
font-family: "Courier New", Courier, monospace;
font-size: 20px;
font-weight: bolder; 
color: #5a5c6b;
margin-left: 5%;
margin-right: 5%;
}

.font3
{
font-family: "Courier New", Courier, monospace;
font-size: 15px;
font-weight: bolder; 
color: #5a5c6b;
margin-left: 5%;
margin-right: 5%;
}

.error { background-color: #CBF1FA; padding: 0.5em; opacity: 0.5;}

.font-head
{
font-family: Arial;
font-size: 40px;
font-weight: bolder; 
color: #FFF;
text-align: center;
}

.font-foot
{
font-family: Arial;
font-size: 15px;
font-weight: bolder; 
color: #FFF;
text-align: center;
padding: 5px;
}

.space1
{
margin-top: 20px;
margin-bottom: 5px;
}

.form
{
width: 120%;
min-width: 80px;
height: 20px;
border: 2px solid #5a5c6b;
padding: 2px;
font-family: Arial;
}


.button
{
width: auto;
min-width: 70px;
height: 25px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 10px;
background-color: #5a5c6b;
font-family: Arial;
font-size: 12px;
color: #FFF;
margin:5%;
padding: 5px;
}




