<!DOCTYPE HTML>
<HTML>
<HEAD>
	<TITLE> VIT Clubs Portal </TITLE>
	<LINK REL =Stylesheet TYPE ="text/css" HREF ="{{ url_for('static', filename='index.css') }}">
	
</HEAD>
	<BODY>
	<P CLASS="head-box font-head">VIT Clubs & Chapters </P>
	{% if msg %}
         <p class="error" align="center">{{ msg }}</p>
         {% endif %}
	<SPAN CLASS="login_box">
	<P CLASS="font1">LOGIN</P>
	{% if login_cred_error %}<p class="error"><strong>Error:</strong> {{ login_cred_error }}</p>{% endif %}
	<p CLASS="space1">
	<FORM CLASS="font2" action="{{ url_for('user_management.login') }}" method="post" NAME="LOGIN">

	<LABEL FOR="USRN">Username : </LABEL>
	<INPUT ID="USRN" CLASS="form" TYPE = "Text" Name = "USERNAME" PLACEHOLDER="" REQUIRED>
	<LABEL FOR="PASSW">Password : </LABEL>
	<INPUT ID="USRN" CLASS="form1" TYPE = "Password" Name = "PASSWORD" PLACEHOLDER="" REQUIRED>
	</p>
	<P><SPAN><INPUT CLASS="button" TYPE = "Submit" VALUE="Forgot Password"></SPAN>
	<SPAN><INPUT CLASS="button" TYPE = "Submit" VALUE="Login" FOR="LOGIN"></SPAN></FORM></P>
	<P CLASS="space1">
	{% if forget_pass_error %}<p class="error"><strong>Error:</strong> {{ forget_pass_error }}</p>{% endif %}
	<FORM CLASS="font2" action="{{ url_for('user_management.reset_password') }}" method="post">
	
	<LABEL FOR="CLUB_NAME">Club : </LABEL>
	<INPUT ID="CLUB_NAME" CLASS="form1" TYPE = "Text" Name = "CLUB_NAME" PLACEHOLDER="" REQUIRED><br>
	<LABEL FOR="MAILID">Email ID : </LABEL>
	<INPUT ID="MAILID" CLASS="form1" TYPE = "Text" Name = "MAILID" PLACEHOLDER="" REQUIRED>
	
	</P>
	<P><INPUT CLASS="button" TYPE = "Submit" VALUE="Send Request"></FORM></P>
	</SPAN>
	
	
	<SPAN CLASS="sign_up_box">
	
	<P CLASS="font1">SIGN UP</P>
	
	{% if signup_error %}<p class="error"><strong>Error:</strong> {{ signup_error }}</p>{% endif %}
	
	
	<P CLASS="space1">	
	<FORM CLASS="font2" action="{{ url_for('user_management.signup') }}" method="post">


	<LABEL FOR="CLUB">  Club : </LABEL>
	<INPUT ID="CLUB" CLASS="form2" TYPE = "Text" Name = "CLUBN" PLACEHOLDER="" REQUIRED>
	
	

	<LABEL FOR="EMAIL">Email : </LABEL>
	<INPUT ID="EMAIL" CLASS="form" TYPE = "Text" Name = "EMAIL" PLACEHOLDER="" REQUIRED>
	</P>
	
	<P><INPUT CLASS="button" TYPE = "Submit" VALUE="Verify"></P>

	</FORM>
	</P>
	
	

	
	</SPAN>
	
	
	
	</BODY>
</HTML>
